/* #myH1 {
    font-size: 5rem;
} */

/* #myButton {
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
} */

.myButtons {
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.enabled {
    background-color: hsl(240, 100%, 50%);
    color: white;
}

.hover {
    box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.2);
    font-weight: bold;
}

.disabled {
    background-color: hsl(0, 0%, 60%);
    color: hsl(0, 0%, 80%);
}